@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

body,h1,h2 {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: fit-content;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    color: #282828;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 16px;
    padding-bottom: 5px;
}


footer {
    text-align: center; /* 요소를 어디에 정렬할 것인지 - 콜론으로 구분, 세미콜론으로 마무리 */
    background-color: #1e1e1e; /* 배경 색상 변경 */
    color: #919191; /* 글씨 색상 변경 */
}

section {
    margin-bottom: 24px;
}

.big-font {
    font-size: 40px;
}

.small-font {
    font-size: 20px;
}

.mainbox {
    border: 1px solid #c4c4c4; /* 테두리를 추가할 수 있는 속성 */
    width: 610px;
    text-align: right; /* 글자만을 가운데로 정렬 */
    margin-left: auto;
    margin-right: auto;
    padding: 30px; /* 글자와 박스 사이의 간격을 줌 */
    margin: 30px; /* 박스가 화면에서 얼마나 떨어지게 할 것인지 */
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}

.name-text {
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold; /* font의 굵기 */
}

.about-me-text {
    font-size: 10px;
    line-height: 16px;
}

.title-text {
    font-style: 11px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.float-wrap {
    overflow: hidden;
}

.desc-text {
    font-size: 9px;
}

.desc-subtext {
    font-size: 9px;
    color: #282828;
    padding-left: 16px; /* 왼쪽만 padding을 줌으로써 들여쓰기 효과 */
}

.title-box {
    text-align: right;

}

.sns-img {
    width: 12px;
    height: 12px;
}